<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>shopping cart</title>
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
  </style>
</head>

<body>
  <div id="home">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Shopping Cart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./wishList">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./addProduct">Add Product</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm">
          <h1>Home</h1>
          <div v-for="product in products">
            <div class="fakeimg">Fake Image</div>
            <div>{{ product.name }}</div>
            <div>price : {{ product.price }}</div>
            <button type="submit" value="Add to WishList" @click="addToWishList(product._id)">
              Add to wishList
            </button>
            <br />
          </div>
        </div>

      </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Footer</p>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

<script>
  const vueApp = new Vue({
    el: "#home",
    data: {
      products: []
    },
    created: function () {
      fetch("/api/listProducts", {
        method: "post",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      })
        .then(res => res.json())
        .then(res => {
          this.products = res;
          alert(JSON.stringify(res));
        })
        .catch(error => {
          alert(JSON.stringify(error));
        });
    },
    methods: {
      addToWishList: function (product_id) {
        var data = {
          product_id
        };
        var token = localStorage.getItem("token");
        fetch("/api/addToWishList", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            Authorization: "Bearer " + token
          },
          body: JSON.stringify(data)
        })
          .then(res => res.json())
          .then(res => {
            alert(JSON.stringify(res));
          })
          .catch(error => {
            alert(JSON.stringify(error));
          });
      }
    }
  });
</script>

</html>